.fa-hill-rockslide{
    font-size: 100px;
}

.fa-paper-plane{
    font-size: 100px;
}
 
.fa-scissors{
    font-size: 100px;
}



.playing {
    transform: scale(1.1);
   
    border-color: #242322;
    box-shadow: 0 0 1rem #080805;
  }

  .key {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: .3rem;
    padding: 1rem 1rem;
    width: 6.5rem;
    text-align: center;
    transition: all .09s ease; /*??*/
    display: inline-block;
  }  

  .title{
    text-align: center;
    padding: 20px;
  }

  .elements{
    text-align: center; /* Center content horizontally */
    background-color: #eaa7a7; /* Just for visibility */
    padding: 5px; /* Add some padding for visibility */
  }

  #textRedoRound{
    padding: 20px;
    font-size: 30px;
    border-bottom: none;
  }

  .choice {
    background-color: #eaa7a7; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #555555;
  }

  .choice:hover {
    background-color: #555555;
    color: white;
  }

  .playerScoreContainer{
    display: inline;
    color: white;
    
  }

  .childScore{
  
    display: inline-block;
  }

  .aftermath{
    display: none;
  }